useDynLib(TrainSel, .registration=TRUE)
export("TrainSel")
export("PamSel")
export("MakeTrainSelData")
export("TrainSelControl")
export("calculatecrossvalueM1")
export("calculatecrossvalueM2")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "cov")
importFrom("stats", "dist")
importFrom("cluster", "pam")
